/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
*{
 font-size:16pt;
	margin: 0;
	padding:0;
}

@font-face
{
	font-family:"Comix Loud";
	src:url("../fuentes/Comix_Loud/Comix_Loud.eot?") format("eot"),
		url("../fuentes/Comix_Loud/Comix_Loud.woff") format("woff"),
		url("../fuentes/Comix_Loud/Comix_Loud.ttf") format("truetype"),
		url("../fuentes/Comix_Loud/Comix_Loud.svg#ComixLoud") format("svg");
	font-weight:normal;
	font-style:normal;
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {font-family:"SchoolFont";
	src:url("../fuentes/SchoolFont/SchoolFont.eot?") format("eot"),
	url("../fuentes/SchoolFont/SchoolFont.woff") format("woff"),
	url("../fuentes/SchoolFont/SchoolFont.ttf") format("truetype"),
	url("../fuentes/SchoolFont/SchoolFont.svg#SchoolFont") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'open_sansregular';/*menú*/
    src: url('../fuentes/openSansRegular/OpenSans-Regular-webfont.eot');
    src: url('../fuentes/openSansRegular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes/openSansRegular/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fuentes/openSansRegular/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fuentes/openSansRegular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:hover{
	border-bottom: solid;
	border-bottom-color: #FFFFFF;
}
h1
{
	text-align: center;
	font-family: "Comix Loud";
	font-size:150%;
}
h2{
	font-family: "open_sansregular";
}
header{
    margin:10px;
}
nav a{
	color:#FFFFFF;
	text-decoration:none;
}
nav ul
{
	background:#000000;
	color:#ffffff;
	display:flex;
    font-family: "open_sansregular";
	list-style-type:none;
}
nav li{
	border-right:solid;
	margin:10px;
	padding-left:60px;
	padding-right:60px;
}
nav li:last-child{
	border-right:none;
}
img{
	border: black 1px solid;
	float: left;
	height: 100px;
	margin: 3px;
	padding: 3px;
	width: 100px;

}
/* Sticky Footer */
html {
	min-height: 100%;
	position: relative;
}

body {
	margin-bottom: -60px;
}
section{
	margin: 3%;
}
footer {
	 background-color: #000000;
	 bottom: 0;
	 color: #ffffff;
	 font-family: "SchoolFont";
	 height: 50px;
	 position: absolute;
	 width: 100%;
 }
footer p{
	margin:10px;
}
/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 320px) {
    nav#menu{
        display:none;
    }
    nav#menu-responsive{
        display:block;
    }
}
@media (min-width: 544px) {

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}